<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Add a New Employee</h1>

    <label><b>Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
      #name
    /><br />
    <label><b>Salary</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="salary"
      id="salary"
      #salary
    /><br />

    <label><b>Grade</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="grade"
      id="grade"
      #grade
    /><br />
    <label><b>Date Of Joining</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="date_of_joining"
      id="date_of_joining"
      #date_of_joining
    /><br />
    <label><b>Last Working Day</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="last_working_day"
      id="last_working_day"
      #last_working_day
    /><br />
    <label><b>Status</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="status"
      id="status"
      #status
    /><br /><br />
    <button
      type="button"
      style="margin-right: 6%"
      (click)="
        Register(
          name.value,
          salary.value,
          grade.value,
          date_of_joining.value,
          last_working_day.value,
          status.value
        )
      "
    >
      Register
    </button>
    <button type="button" style="margin-right: 15px">
      <a routerLink="/getDetails" style="text-decoration: none; color: black"
        >Back</a
      >
    </button>
  </div>
</html>
